doctype html
html
  head
    meta(charset='utf-8')
    title !{title} #{src}
    meta(name='desc#{title,weibo,test}desc', desc={name:qq, weibo:title}, content=[name,weibo])
    meta(name='keywords', content=keywords, title=title.qq, desc=title['desc'])
  body
    header.header(id="header", src='layout_bg')
      block header
        div Header
    main.main(id="main")
      block main
        div Main
    footer.footer(id="footer")
      block footer
        div Footer