doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    desc this is weibo
    meta(name='viewport', content='width=device-#{width},user-scalable=#{stable}')
    meta(name='description', content='#{desc}')
    meta(name='keywords', content='#{keywords}')
    meta(
      name='info'
      weibo=weibo?'tencent':'sina'
      email='simonhao,tencent.com'
      phone=phone_number
      comment='this is my comment: #{comment}'
    )
  body
    header.header(id='header')
      block header
    main.main(id='main')
      block main
    footer.footer(id='footer')
      block footer